<header class="navbar navbar-custom" role="navigation">
    <div class="container">
      <div class="display-table pull-left" id="navbar-logo-container">
        <h4 class="navbar-brand-openlayer">&nbsp;<b>Angular6 OpenLayers</b> How to Use OL package for OpenLayer to View Animations</h4>
        
  <h6>This example shows how to use the view.animate() method to run one or more animations.</h6>
  
      </div>
      <!-- menu items that get hidden below 768px width -->
      <nav class="collapse navbar-collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav pull-right">
          <li><a href="../doc">Docs</a></li>
          <li><a class="active" href="index.html">Examples</a></li>
          <li><a href="../apidoc">API</a></li>
          <li><a href="https://github.com/openlayers/openlayers">Code</a></li>
        </ul>
      </nav>
    </div>
  </header>

<div class="container">
  <!-- Content here -->
 <nav class="navbar navbar-dark bg-dark">
      <!-- Navbar content -->
      <button type="button" class="btn btn-secondary" id="rotate-left" title="Rotate clockwise" (click)="rotateLeft()">↻</button>
      <button type="button" class="btn btn-secondary" id="rotate-right" title="Rotate counterclockwise" (click)="rotateRight()">↺</button>
      <button type="button" class="btn btn-secondary" id="pan-to-london" (click)="panToLondon()">Pan to London</button>
      <button type="button" class="btn btn-secondary" id="elastic-to-moscow" (click)="elasticToMoscow()">Elastic to Moscow</button>
      <button type="button" class="btn btn-secondary" id="bounce-to-istanbul" (click)="bounceToIstanbul()">Bounce to Istanbul</button>
      <button type="button" class="btn btn-secondary" id="spin-to-rome" (click)="spinToRome()">Spin to Rome</button>
      <button type="button" class="btn btn-secondary" id="fly-to-bern" (click)="flyToBern()">Fly to Bern</button>
      <button type="button" class="btn btn-secondary" id="rotate-around-rome" (click)="rotateAroundRome()">Rotate around Rome</button>
      <button type="button" class="btn btn-secondary" id="tour" (click)="takeATour()">Take a tour</button>
    </nav>

  <div class="row">
      <div class="col-12">
    <div id="map" class="map"></div>
    </div>
  </div>
  
</div>